html {
  font-size: 10px;
  color: black;
  font-family: sans serif;
}

h1{
  color: red;
}
h2{
  color: red;
  font-weight: normal;
}

h3{
  font-family: arial;
}
h4 {
  font-style: italic;
  font-weight: normal;
  margin-top:0;
  margin-bottom:0;
}


h5 {
  margin-top:0;
  margin-bottom:0;
}

h6 {
  font-size: 1rem;
  font-family: arial;
  text-transform: uppercase;
  color:red;
  margin-bottom:0;
}

p {
  margin-top:0;
  margin-bottom:0;
}
 

.container {
    display: grid;
    grid-template-areas:
      "header header"
      "left right"
      "footer right";
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

header {
  grid-area: header;
  text-align: center;
}

.left{
  grid-area: left;
  background-color: red;
  color:white;
}

footer{
  grid-area: footer;
}

.right{
  grid-area: right;
}



